# binance symbol to track
SYMBOL=btcusdt
# desired price resolution for the order book
PRICE_RESOLUTION=10
# max depth to record
# (es. with 100 resolution and 50 max depth, you'll record up 5'000 price points from market price')
MAX_DEPTH=100